/* CSS Document */

body {
    font-family:"Century Gothic", sans-serif;
}

body{
	margin:5%;
	padding:5%;
}

/* unvisited link */
a:link {
    color: rgba(180, 70, 162, 0.98);
}

/* visited link */
a:visited {
    color: rgba(70, 25, 50, 0.98);
}

/* mouse over link */
a:hover {
    color: rgba(238, 191, 230, 0.98);
}

/* selected link */
a:active {
    color: rgba(252, 243, 250, 0.87);
}


body{
/* IE10+ */ 
background-image: -ms-linear-gradient(left, #BAB3FF 0%, #FAFFED 25%, #A1FCFF 50%, #FAFFEB 75%, #F5B8FF 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #BAB3FF 0%, #FAFFED 25%, #A1FCFF 50%, #FAFFEB 75%, #F5B8FF 100%);
/* Opera */ 
background-image: -o-linear-gradient(left, #BAB3FF 0%, #FAFFED 25%, #A1FCFF 50%, #FAFFEB 75%, #F5B8FF 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #BAB3FF), color-stop(25, #FAFFED), color-stop(50, #A1FCFF), color-stop(75, #FAFFEB), color-stop(100, #F5B8FF));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #BAB3FF 0%, #FAFFED 25%, #A1FCFF 50%, #FAFFEB 75%, #F5B8FF 100%);
/* W3C Markup */ 
background-image: linear-gradient(to right, #BAB3FF 0%, #FAFFED 25%, #A1FCFF 50%, #FAFFEB 75%, #F5B8FF 100%);
}

html {
    height: 100%
}

